.doctor-detail {
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    max-width: 600px;
    padding: 20px;
    margin: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 100px;
  }
  
  .doctor-detail-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #164a38;
  }
  
  .doctor-detail-info {
    display: flex;
    flex-direction: column;
  }
  
  .doctor-detail-info span{
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333333;
    font-weight: bold;
  }

  .doctor-detail-info h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .doctor-detail-info p {
    margin: 4px 0;
    color: #555;
    font-size: 0.95rem;
  }
  .doctor-review-section {
    margin: 2rem;
    padding: 2rem;
    background-color: #80e2c0;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.04);
    width: 70%; 
    max-width: 900px; 
    position: relative;
    left: 35%; 
  }
  .doctor-prescribe-section {
    padding: 2rem;
    background-color: #5fb3d1;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(72, 134, 113, 0.04);
    width: 100%;  
    max-width: 500px; 
  }
  
  
  