.page-header {
  text-align: center;
  background-color: #f0f8ff;
  animation: fadeIn 1.5s ease-in-out;
}

.page-header img {
  height: 300px;
  width: auto;
}

.form-container.signup {
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  background-color: #70aa83;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  animation: fadeIn 1s ease;
}

.form-container.signup h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
  color: #265e96;
  text-align: center;
  font-weight: 600;
}

.form-container.signup label {
  display: block;
  margin-bottom: 15px;
  color: #083d33;
  font-weight: 500;
  font-size: 1.1em;
}

.form-container.signup input,
.form-container.signup select {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1em;
  box-sizing: border-box;
}

.form-container.signup p.error {
  color: rgb(216, 34, 34);
  font-size: 0.85em;
  margin-top: 4px;
}

.form-container.signup button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  font-size: 1.1em;
  background-color: #005fa3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container.signup button:disabled {
  background-color: #3f53a1;
  cursor: not-allowed;
}

.form-container.signup button:hover:not(:disabled) {
  background-color: #004080;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .form-container.signup {
    padding: 20px;
    margin: 20px;
  }

  .form-container.signup h1 {
    font-size: 1.8em;
  }
}
